<form action="" method="get">
    <input type="search" name="movie_name">
    <button type="submit" value="Search">Search</button>
</form>

{% for movie in movies %} {{movie.name}} <br> {% endfor %}

{% if movies.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{movies.previous_page_number}}">Previous</a>
{% endif %}

Page: {{movies.number}} of {{movies.paginator.num_pages}}

{% if movies.has_next %}
    <a href="?page={{movies.next_page_number}}">Next</a>
    <a href="?page={{movies.paginator.num_pages}}">Last</a>
{% endif %}